<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)]><!-->
<html lang="en-US">
	<!--<![endif]-->
	<head>

		<script type="text/javascript">
			document.documentElement.className = "js";
		</script>
		<script>
			var et_site_url = "";
			var et_post_id = "216344";
			function et_core_page_resource_fallback(a, b) {
				"undefined" === typeof b &&
					(b = a.sheet.cssRules && 0 === a.sheet.cssRules.length);
				b &&
					((a.onerror = null),
					(a.onload = null),
					a.href
						? (a.href =
								et_site_url +
								"/?et_core_page_resource=" +
								a.id +
								et_post_id)
						: a.src &&
						  (a.src =
								et_site_url +
								"/?et_core_page_resource=" +
								a.id +
								et_post_id));
			}
		</script>
		<title>Daycare Blog | Tiddly Tots Play School</title>

		<meta property="og:type" content="article" />
		<meta property="og:title" content="Daycare Blog | Tiddly Tots Play School" />
		<meta
			property="og:url"
			content="daycare-blog-page/live-demo"
		/>
		<meta property="og:site_name" content="Tiddly Tots Play School" />
		<meta
			property="article:publisher"
			content="https://facebook.com/TiddlyTotsSchool"
		/>
		<meta
			property="article:modified_time"
			content="2018-11-02T01:09:59+00:00"
		/>
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:creator" content="@" />
		<meta name="twitter:site" content="@" />
		<script type="application/ld+json" class="yoast-schema-graph">
			{
				"@context": "https://schema.org",
				"@graph": [
					{
						"@type": "WebPage",
						"@id": "/education/daycare-blog-page/live-demo#webpage",
						"url": "/education/daycare-blog-page/live-demo",
						"name": "Daycare Blog | Tiddly Tots Play School",
						"isPartOf": {
							"@id": "/#website"
						},
						"datePublished": "2018-11-02T01:05:48+00:00",
						"dateModified": "2018-11-02T01:09:59+00:00",
						"inLanguage": "en-US",
						"potentialAction": [
							{
								"@type": "ReadAction",
								"target": [
									"/education/daycare-blog-page/live-demo"
								]
							}
						]
					}
				]
			}
		</script>
		<link rel="dns-prefetch" href="http://cdn.jsdelivr.net/" />
		<link rel="dns-prefetch" href="http://fonts.googleapis.com/" />

		<link
			rel="stylesheet"
			id="wp-block-library-css"
			href="../../wp-includes/css/dist/block-library/style.minc225.css"
			type="text/css"
			media="all"
		/>

		<link
			rel="stylesheet"
			id="divi-fonts-css"
			href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,latin-ext"
			type="text/css"
			media="all"
		/>
		<link
			rel="stylesheet"
			id="divi-style-css"
			href="../../wp-content/themes/folder/stylea94e.css"
			type="text/css"
			media="all"
		/>
		<link
			rel="stylesheet"
			id="et-builder-googlefonts-cached-css"
			href="https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CFredoka+One%3Aregular%7CMuli%3A200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%2C200italic%2C300italic%2Citalic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic%7COpen+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;ver=5.4.1#038;subset=latin,latin-ext"
			type="text/css"
			media="all"
		/>
		<link
			rel="stylesheet"
			id="dashicons-css"
			href="../../wp-includes/css/dashicons.minc225.css"
			type="text/css"
			media="all"
		/>
		<script
			type="text/javascript"
			src="../../wp-includes/js/jquery/jquery4a5f.js"
		></script>
		<script
			type="text/javascript"
			src="../../wp-includes/js/jquery/jquery-migrate.min330a.js"
		></script>
		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"
		></script>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
		/>

		<link
			rel="icon"
			href="../../wp-content/uploads/2017/12/logo.png"
			sizes="32x32"
		/>
		<link
			rel="icon"
			href="../../wp-content/uploads/2017/12/logo.png"
			sizes="192x192"
		/>
		<link
			rel="apple-touch-icon"
			href="../../wp-content/uploads/2017/12/logo.png"
		/>
		<meta
			name="msapplication-TileImage"
			content="/wp-content/uploads/2017/12/logo.png"
		/>
		<link
			rel="stylesheet"
			id="et-core-unified-216344-cached-inline-styles"
			href="../../wp-content/et-cache/216344/et-core-unified-216344-15884541664483.min.css"
		/>
	</head>
	<body
		class="page-template-default page page-id-216344 theme-Divi et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns4 et_cover_background et_pb_gutter windows et_pb_gutters3 et_pb_pagebuilder_layout et_no_sidebar et_divi_theme et-db et_minified_js et_minified_css"
	>
		<div id="page-container">
			<header id="main-header" data-height-onload="66">
				<div class="container clearfix et_menu_container">
					<div class="title_container">
						<h1>
							<a
								href="/education/daycare-blog-page"
								title="title here"
							>
								Daycare Blog
							</a>
						</h1>
					</div>
					<div
						id="et-top-navigation"
						data-height="66"
						data-fixed-height="40"
					>
						<nav id="top-menu-nav">
							<ul id="top-menu" class="nav">
								<li
									id="menu-item-216345"
									class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-216344 current_page_item menu-item-216345"
								>
									<a href="/" aria-current="page"
										>Blog</a
									>
								</li>
								<li
									id="menu-item-216347"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216347"
								>
									<a
										href="/contact"
										>Contact</a
									>
								</li>
								<li
									id="menu-item-216349"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216349"
								>
									<a
										href="/home"
										>Home</a
									>
								</li>
								<li
									id="menu-item-216351"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216351"
								>
									<a
										href="/programs"
										>Programs</a
									>
								</li>
								<li
									id="menu-item-216353"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216353"
								>
									<a
										href="../daycare-about-page/"
										>About</a
									>
								</li>
								<li
									id="menu-item-216355"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216355"
								>
									<a
										href="/pricing"
										>Pricing</a
									>
								</li>
								<li
									id="menu-item-216357"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216357"
								>
									<a
										href="/landing"
										>Landing</a
									>
								</li>
							</ul>
						</nav>
						<a
							href=""
							class="et-cart-info"
						>
							<span></span>
						</a>
						<div id="et_mobile_nav_menu">
							<div class="mobile_nav closed">
								<span class="select_page">Select Page</span>
								<span
									class="mobile_menu_bar mobile_menu_bar_toggle"
								></span>
							</div>
						</div>
					</div>
				</div>
				<div class="et_search_outer">
					<div class="container et_search_form_container">
						<form
							role="search"
							method="get"
							class="et-search-form"
							action="/"
						>
							<input
								type="search"
								class="et-search-field"
								placeholder="Search &hellip;"
								value=""
								name="s"
								title="Search for:"
							/>
						</form>
						<span class="et_close_search_field"></span>
					</div>
				</div>
			</header>
			<div id="et-main-area">
				<div id="main-content">
					<article
						id="post-216344"
						class="post-216344 page type-page status-publish hentry"
					>
						<div class="entry-content">
							<div id="et-boc" class="et-boc">
								<div class="et-l et-l--post">
									<div
										class="et_builder_inner_content et_pb_gutters3"
									>
										<div
											class="et_pb_section et_pb_section_0 et_pb_section_parallax et_pb_with_background et_pb_fullwidth_section et_section_regular section_has_divider et_pb_bottom_divider"
										>
											<div class="et_parallax_bg_wrap">
												<div
													class="et_parallax_bg"
													style="
														background-image: url(../../wp-content/uploads/2018/11/day_care_bg_02.png);
													"
												></div>
											</div>
											<section
												class="et_pb_module et_pb_fullwidth_header et_pb_fullwidth_header_0 et_animated et_hover_enabled et_pb_text_align_center et_pb_bg_layout_dark"
											>
												<div
													class="et_pb_fullwidth_header_container center"
												>
													<div
														class="header-content-container center"
													>
														<div
															class="header-content"
														>
															<h1
																class="et_pb_module_header"
															>
																Our Blog
															</h1>
															<div
																class="et_pb_header_content_wrapper"
															>
																Lorem ipsum
																dolor sit amet,
																consectetur
																adipiscing elit.
																Aenean consequat
																neque tincidunt
																finibus
																condimentum.
																Etiam ultrices
																sagittis
																maximus.
															</div>
															<a
																class="et_pb_button et_pb_more_button et_pb_button_one"
																href="#"
																>Subscribe</a
															>
														</div>
													</div>
												</div>
												<div
													class="et_pb_fullwidth_header_overlay"
												></div>
												<div
													class="et_pb_fullwidth_header_scroll"
												></div>
											</section>
											<div
												class="et_pb_bottom_inside_divider et-no-transition"
											></div>
										</div>
										<div
											class="et_pb_section et_pb_section_1 et_section_regular"
										>
											<div class="et_pb_row et_pb_row_0">
												<div
													class="et_pb_column et_pb_column_1_4 et_pb_column_0 et_pb_css_mix_blend_mode_passthrough"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_0 et_hover_enabled et_clickable et_pb_text_align_center et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															Pre-K
														</div>
													</div>
												</div>
												<div
													class="et_pb_column et_pb_column_1_4 et_pb_column_1 et_pb_css_mix_blend_mode_passthrough"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_1 et_hover_enabled et_clickable et_pb_text_align_center et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															3&#8217;s
														</div>
													</div>
												</div>
												<div
													class="et_pb_column et_pb_column_1_4 et_pb_column_2 et_pb_css_mix_blend_mode_passthrough"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_2 et_hover_enabled et_clickable et_pb_text_align_center et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															4&#8217;s
														</div>
													</div>
												</div>
												<div
													class="et_pb_column et_pb_column_1_4 et_pb_column_3 et_pb_css_mix_blend_mode_passthrough et-last-child"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_3 et_hover_enabled et_clickable et_pb_text_align_center et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															5&#8217;s
														</div>
													</div>
												</div>
											</div>
											<div
												class="et_pb_row et_pb_row_1 et_hover_enabled"
											>
												<div
													class="et_pb_column et_pb_column_4_4 et_pb_column_4 et_pb_css_mix_blend_mode_passthrough et-last-child"
												>
													<div
														class="et_pb_module et_pb_blog_0 et_pb_posts et_pb_bg_layout_light"
													>
														<div
															class="et_pb_ajax_pagination_container"
														>
															<article
																id="post-4800"
																class="et_pb_post clearfix et_pb_blog_item_0_0 post-4800 post type-post status-publish format-standard has-post-thumbnail hentry category-category"
															>
																<a
																	href="/category/elegant-icon-font"
																	class="entry-featured-image-url"
																	><img
																		src="../../wp-content/uploads/2017/12/bakery-16-1080x624.jpg"
																		alt="Nunc Volutpat Venenatis"
																		class=""
																		width="1080"
																		height="675"
																		srcset="
																			/wp-content/uploads/2017/12/bakery-16.jpg         1080w,
																			/wp-content/uploads/2017/12/bakery-16-254x147.jpg  254w,
																			/wp-content/uploads/2017/12/bakery-16-533x308.jpg  533w
																		"
																		sizes="(max-width: 1080px) 100vw, 1080px"
																/></a>
																<h2
																	class="entry-title"
																>
																	<a
																		href="/category/elegant-icon-font"
																		>Nunc
																		Volutpat
																		Venenatis</a
																	>
																</h2>
																<p
																	class="post-meta"
																>
																	by
																	<span
																		class="author vcard"
																		><a
																			href="/author/adminlayouts"
																			title="Posts by Nick Roach"
																			rel="author"
																			>Nick
																			Roach</a
																		></span
																	>
																	|
																	<span
																		class="published"
																		>May 9,
																		2014</span
																	>
																	|
																	<a
																		href="/category/category"
																		rel="tag"
																		>Category</a
																	>
																</p>
																<div
																	class="post-content"
																>
																	<div
																		class="post-content-inner"
																	>
																		<p>
																			Nulla
																			a
																			odio
																			sed
																			magna
																			congue
																			condimentum.
																			Pellentesque
																			convallis
																			enim
																			nec
																			libero
																			vulputate,
																			et
																			rhoncus
																			urna
																			placerat.
																			Phasellus
																			mattis,
																			diam
																			vel
																			vehicula
																			facilisis,
																			erat
																			leo
																			dapibus
																			augue,
																			at
																			mollis
																			tellus
																			ex
																			non
																			nisi.
																			Ut
																			faucibus
																			fringilla
																			semper.
																			Aenean
																			nunc
																			ex,...
																		</p>
																	</div>
																</div>
															</article>
															<article
																id="post-4730"
																class="et_pb_post clearfix et_pb_blog_item_0_1 post-4730 post type-post status-publish format-standard has-post-thumbnail hentry category-category"
															>
																<a
																	href="/category/a-stroll-through-nature"
																	class="entry-featured-image-url"
																	><img
																		src="../../wp-content/uploads/2018/01/generator-68-1080x675.jpg"
																		alt="Vestibulum Nisl Felis"
																		class=""
																		width="1080"
																		height="675"
																		srcset="
																			/wp-content/uploads/2018/01/generator-68-1080x675.jpg 1080w,
																			/wp-content/uploads/2018/01/generator-68-400x250.jpg   400w
																		"
																		sizes="(max-width: 1080px) 100vw, 1080px"
																/></a>
																<h2
																	class="entry-title"
																>
																	<a
																		href="/category/a-stroll-through-nature"
																		>Vestibulum
																		Nisl
																		Felis</a
																	>
																</h2>
																<p
																	class="post-meta"
																>
																	by
																	<span
																		class="author vcard"
																		><a
																			href="/author/adminlayouts"
																			title="Posts by Nick Roach"
																			rel="author"
																			>Nick
																			Roach</a
																		></span
																	>
																	|
																	<span
																		class="published"
																		>May 9,
																		2014</span
																	>
																	|
																	<a
																		href="/category/category"
																		rel="tag"
																		>Category</a
																	>
																</p>
																<div
																	class="post-content"
																>
																	<div
																		class="post-content-inner"
																	>
																		<p>
																			Lorem
																			ipsum
																			dolor
																			sit
																			amet,
																			consectetur
																			adipiscing
																			elit.
																			Nunc
																			aliquam
																			justo
																			et
																			nibh
																			venenatis
																			aliquet.
																			Morbi
																			mollis
																			mollis
																			pellentesque.
																			Aenean
																			vitae
																			erat
																			velit.
																		</p>
																	</div>
																</div>
															</article>
															<article
																id="post-4797"
																class="et_pb_post clearfix et_pb_blog_item_0_2 post-4797 post type-post status-publish format-standard has-post-thumbnail hentry category-category"
															>
																<a
																	href="/category/golden-meadow"
																	class="entry-featured-image-url"
																	><img
																		src="../../wp-content/uploads/2017/12/florist-04-1080x675.jpg"
																		alt="Proin Eu Augue Efficitur"
																		class=""
																		width="1080"
																		height="675"
																		srcset="
																			/wp-content/uploads/2017/12/florist-04-1080x675.jpg 1080w,
																			/wp-content/uploads/2017/12/florist-04-400x250.jpg   400w
																		"
																		sizes="(max-width: 1080px) 100vw, 1080px"
																/></a>
																<h2
																	class="entry-title"
																>
																	<a
																		href="/category/golden-meadow"
																		>Proin
																		Eu Augue
																		Efficitur</a
																	>
																</h2>
																<p
																	class="post-meta"
																>
																	by
																	<span
																		class="author vcard"
																		><a
																			href="/author/adminlayouts"
																			title="Posts by Nick Roach"
																			rel="author"
																			>Nick
																			Roach</a
																		></span
																	>
																	|
																	<span
																		class="published"
																		>May 9,
																		2014</span
																	>
																	|
																	<a
																		href="/category/category"
																		rel="tag"
																		>Category</a
																	>
																</p>
																<div
																	class="post-content"
																>
																	<div
																		class="post-content-inner"
																	>
																		<p>
																			Lorem
																			ipsum
																			dolor
																			sit
																			amet,
																			consectetur
																			adipiscing
																			elit.
																			Nunc
																			aliquam
																			justo
																			et
																			nibh
																			venenatis
																			aliquet.
																			Morbi
																			mollis
																			mollis
																			pellentesque.
																			Aenean
																			vitae
																			erat
																			velit.
																		</p>
																	</div>
																</div>
															</article>
															<article
																id="post-4791"
																class="et_pb_post clearfix et_pb_blog_item_0_3 post-4791 post type-post status-publish format-standard has-post-thumbnail hentry category-category"
															>
																<a
																	href="/category/on-top-of-the-world"
																	class="entry-featured-image-url"
																	><img
																		src="../../wp-content/uploads/2017/12/fashion-20-800x675.jpg"
																		alt="Nam Vulputate Tempus"
																		class=""
																		width="1080"
																		height="675"
																/></a>
																<h2
																	class="entry-title"
																>
																	<a
																		href="/category/on-top-of-the-world"
																		>Nam
																		Vulputate
																		Tempus</a
																	>
																</h2>
																<p
																	class="post-meta"
																>
																	by
																	<span
																		class="author vcard"
																		><a
																			href="/author/adminlayouts"
																			title="Posts by Nick Roach"
																			rel="author"
																			>Nick
																			Roach</a
																		></span
																	>
																	|
																	<span
																		class="published"
																		>May 9,
																		2014</span
																	>
																	|
																	<a
																		href="/category/category"
																		rel="tag"
																		>Category</a
																	>
																</p>
																<div
																	class="post-content"
																>
																	<div
																		class="post-content-inner"
																	>
																		<p>
																			Lorem
																			ipsum
																			dolor
																			sit
																			amet,
																			consectetur
																			adipiscing
																			elit.
																			Nunc
																			aliquam
																			justo
																			et
																			nibh
																			venenatis
																			aliquet.
																			Morbi
																			mollis
																			mollis
																			pellentesque.
																			Aenean
																			vitae
																			erat
																			velit.
																			Maecenas
																			urna
																			sapien,
																			dignissim
																			a
																			augue
																			vitae,
																			porttitor
																			luctus
																			urna.
																			Morbi
																			scelerisque
																			semper
																			congue.
																			Donec
																			vitae
																			congue
																			quam.
																		</p>
																	</div>
																</div>
															</article>
															<article
																id="post-4783"
																class="et_pb_post clearfix et_pb_blog_item_0_4 post-4783 post type-post status-publish format-standard has-post-thumbnail hentry category-category"
															>
																<a
																	href="/category/new-portfolio-updates"
																	class="entry-featured-image-url"
																	><img
																		src="../../wp-content/uploads/2018/01/section-bg-4-1080x675.jpg"
																		alt="Donec Sit Amet Nibh"
																		class=""
																		width="1080"
																		height="675"
																		srcset="
																			/wp-content/uploads/2018/01/section-bg-4-1080x675.jpg 1080w,
																			/wp-content/uploads/2018/01/section-bg-4-400x250.jpg   400w
																		"
																		sizes="(max-width: 1080px) 100vw, 1080px"
																/></a>
																<h2
																	class="entry-title"
																>
																	<a
																		href="/category/new-portfolio-updates"
																		>Donec
																		Sit Amet
																		Nibh</a
																	>
																</h2>
																<p
																	class="post-meta"
																>
																	by
																	<span
																		class="author vcard"
																		><a
																			href="/author/adminlayouts"
																			title="Posts by Nick Roach"
																			rel="author"
																			>Nick
																			Roach</a
																		></span
																	>
																	|
																	<span
																		class="published"
																		>May 9,
																		2014</span
																	>
																	|
																	<a
																		href="/category/category"
																		rel="tag"
																		>Category</a
																	>
																</p>
																<div
																	class="post-content"
																>
																	<div
																		class="post-content-inner"
																	>
																		<p>
																			Aenean
																			vitae
																			fringilla
																			metus,
																			sed
																			pellentesque
																			nisl.
																			Morbi
																			quis
																			mi
																			tincidunt,
																			consequat
																			risus
																			et,
																			dapibus
																			magna.
																			In
																			lacinia
																			dictum
																			nunc,
																			non
																			dignissim
																			quam.
																		</p>
																	</div>
																</div>
															</article>
															<article
																id="post-4777"
																class="et_pb_post clearfix et_pb_blog_item_0_5 post-4777 post type-post status-publish format-standard has-post-thumbnail hentry category-category"
															>
																<a
																	href="/category/meet-the-team"
																	class="entry-featured-image-url"
																	><img
																		src="../../wp-content/uploads/2017/12/13_img-945x675.jpg"
																		alt="Maecenas Fringilla Augue"
																		class=""
																		width="1080"
																		height="675"
																/></a>
																<h2
																	class="entry-title"
																>
																	<a
																		href="/category/meet-the-team"
																		>Maecenas
																		Fringilla
																		Augue</a
																	>
																</h2>
																<p
																	class="post-meta"
																>
																	by
																	<span
																		class="author vcard"
																		><a
																			href="/author/adminlayouts"
																			title="Posts by Nick Roach"
																			rel="author"
																			>Nick
																			Roach</a
																		></span
																	>
																	|
																	<span
																		class="published"
																		>May 9,
																		2014</span
																	>
																	|
																	<a
																		href="/category/category"
																		rel="tag"
																		>Category</a
																	>
																</p>
																<div
																	class="post-content"
																>
																	<div
																		class="post-content-inner"
																	>
																		<p>
																			Donec
																			vitae
																			congue
																			quam.
																			Pellentesque
																			convallis
																			est
																			a
																			eros
																			porta,
																			ut
																			porttitor
																			magna
																			convallis.
																			Donec
																			quis
																			felis
																			imperdiet,
																			vestibulum
																			est
																			ut,
																			pulvinar
																			dolor.
																		</p>
																	</div>
																</div>
															</article>
															<div>
																<div
																	class="pagination clearfix"
																>
																	<div
																		class="alignleft"
																	></div>
																	<div
																		class="alignright"
																	></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div
											class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular"
										>
											<div class="et_pb_row et_pb_row_2">
												<div
													class="et_pb_column et_pb_column_4_4 et_pb_column_5 et_pb_css_mix_blend_mode_passthrough et-last-child"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_4 et_pb_text_align_center et_pb_bg_layout_dark"
													>
														<div
															class="et_pb_text_inner"
														>
															<h2>
																Join Our
																Newsletter
															</h2>
														</div>
													</div>
													<div
														class="et_pb_module et_pb_signup_0 et_pb_newsletter_layout_top_bottom et_pb_newsletter et_pb_subscribe clearfix et_pb_text_align_left et_pb_bg_layout_dark et_pb_no_bg et_pb_newsletter_description_no_title et_pb_newsletter_description_no_content"
													>
														<div
															class="et_pb_newsletter_description et_multi_view_hidden"
														></div>
														<div
															class="et_pb_newsletter_form"
														>
															<form method="post">
																<div
																	class="et_pb_newsletter_result et_pb_newsletter_error"
																></div>
																<div
																	class="et_pb_newsletter_result et_pb_newsletter_success"
																>
																	<h2>
																		Success!
																	</h2>
																</div>
																<div
																	class="et_pb_newsletter_fields"
																>
																	<p
																		class="et_pb_newsletter_field et_pb_contact_field_last et_pb_contact_field_last_tablet et_pb_contact_field_last_phone"
																	>
																		<label
																			class="et_pb_contact_form_label"
																			for="et_pb_signup_firstname"
																			style="
																				display: none;
																			"
																			>Name</label
																		>
																		<input
																			id="et_pb_signup_firstname"
																			class="input"
																			type="text"
																			placeholder="Name"
																			name="et_pb_signup_firstname"
																		/>
																	</p>
																	<p
																		class="et_pb_newsletter_field et_pb_contact_field_last et_pb_contact_field_last_tablet et_pb_contact_field_last_phone"
																	>
																		<label
																			class="et_pb_contact_form_label"
																			for="et_pb_signup_email"
																			style="
																				display: none;
																			"
																			>Email</label
																		>
																		<input
																			id="et_pb_signup_email"
																			class="input"
																			type="text"
																			placeholder="Email"
																			name="et_pb_signup_email"
																		/>
																	</p>
																	<p
																		class="et_pb_newsletter_button_wrap"
																	>
																		<a
																			class="et_pb_newsletter_button et_pb_button et_pb_custom_button_icon"
																			href="#"
																			data-icon="&#x24;"
																		>
																			<span
																				class="et_subscribe_loader"
																			></span>
																			<span
																				class="et_pb_newsletter_button_text"
																				>Subscribe</span
																			>
																		</a>
																	</p>
																</div>
																<input
																	type="hidden"
																	value="mailchimp"
																	name="et_pb_signup_provider"
																/>
																<input
																	type="hidden"
																	value="26e9af0331"
																	name="et_pb_signup_list_id"
																/>
																<input
																	type="hidden"
																	value="test"
																	name="et_pb_signup_account_name"
																/>
																<input
																	type="hidden"
																	value="true"
																	name="et_pb_signup_ip_address"
																/>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div
											class="et_pb_section et_pb_section_3 et_pb_fullwidth_section et_section_regular"
										>
											<div
												class="et_pb_module et_pb_fullwidth_image et_pb_fullwidth_image_0 et_animated et-waypoint"
											>
												<img
													src="../../wp-content/uploads/2018/11/day_care_img_13.jpg"
													alt=""
													title=""
													srcset="
														/wp-content/uploads/2018/11/day_care_img_13.jpg         2383w,
														/wp-content/uploads/2018/11/day_care_img_13-254x75.jpg   254w,
														/wp-content/uploads/2018/11/day_care_img_13-533x157.jpg  533w,
														/wp-content/uploads/2018/11/day_care_img_13-510x150.jpg  510w
													"
													sizes="(max-width: 2383px) 100vw, 2383px"
												/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<footer id="main-footer">
					<div id="footer-bottom">
						<div class="container clearfix">
							<ul class="et-social-icons">
								<li class="et-social-icon et-social-facebook">
									<a href="#" class="icon">
										<span>Facebook</span>
									</a>
								</li>
								<li class="et-social-icon et-social-twitter">
									<a href="#" class="icon">
										<span>Twitter</span>
									</a>
								</li>
								<li
									class="et-social-icon et-social-google-plus"
								>
									<a href="#" class="icon">
										<span>Google</span>
									</a>
								</li>

							</ul>
							Designed and maintained for
								<a href="/" title="Tiddly Tots Play School"
									>Tiddly Tots Play School</a
								>
								by
								<a
									target="_blank"
									rel="noopener"
									href="https://linkedin.com/in/aravindvnair99/"
									>Aravind V Nair</a
								>
						</div>
					</div>
				</footer>
			</div>
		</div>
		<script type="text/javascript">
			var et_animation_data = [
				{
					class: "et_pb_fullwidth_header_0",
					style: "zoom",
					repeat: "once",
					duration: "1000ms",
					delay: "0ms",
					intensity: "5%",
					starting_opacity: "0%",
					speed_curve: "ease-in-out",
				},
				{
					class: "et_pb_fullwidth_image_0",
					style: "slideBottom",
					repeat: "once",
					duration: "1000ms",
					delay: "0ms",
					intensity: "2%",
					starting_opacity: "0%",
					speed_curve: "ease-in-out",
				},
			];
			var et_link_options_data = [
				{ class: "et_pb_text_0", url: "#", target: "_self" },
				{ class: "et_pb_text_1", url: "#", target: "_self" },
				{ class: "et_pb_text_2", url: "#", target: "_self" },
				{ class: "et_pb_text_3", url: "#", target: "_self" },
			];
		</script>

		<link
			rel="stylesheet"
			id="mediaelement-css"
			href="../../wp-includes/js/mediaelement/mediaelementplayer-legacy.minc270.css"
			type="text/css"
			media="all"
		/>
		<link
			rel="stylesheet"
			id="wp-mediaelement-css"
			href="../../wp-includes/js/mediaelement/wp-mediaelement.minc225.css"
			type="text/css"
			media="all"
		/>

		<script type="text/javascript">
			/* <![CDATA[ */
			var DIVI = { item_count: "%d Item", items_count: "%d Items" };
			var et_shortcodes_strings = { previous: "Previous", next: "Next" };
			var et_pb_custom = {
				ajaxurl:
					"https:\/\/tiddlytotsschool.com\/layouts\/wp-admin\/admin-ajax.php",
				images_uri:
					"https:\/\/tiddlytotsschool.com\/layouts\/wp-content\/themes\/Divi\/images",
				builder_images_uri:
					"https:\/\/tiddlytotsschool.com\/layouts\/wp-content\/themes\/Divi\/includes\/builder\/images",
				et_frontend_nonce: "f1910e4a54",
				subscription_failed:
					"Please, check the fields below to make sure you entered the correct information.",
				et_ab_log_nonce: "8a922d58b2",
				fill_message: "Please, fill in the following fields:",
				contact_error_message: "Please, fix the following errors:",
				invalid: "Invalid email",
				captcha: "Captcha",
				prev: "Prev",
				previous: "Previous",
				next: "Next",
				wrong_captcha: "You entered the wrong number in captcha.",
				wrong_checkbox: "Checkbox",
				ignore_waypoints: "no",
				is_divi_theme_used: "1",
				widget_search_selector: ".widget_search",
				ab_tests: [],
				is_ab_testing_active: "",
				page_id: "216344",
				unique_test_id: "",
				ab_bounce_rate: "5",
				is_cache_plugin_active: "no",
				is_shortcode_tracking: "",
				tinymce_uri: "",
			};
			var et_frontend_scripts = {
				builderCssContainerPrefix: "#et-boc",
				builderCssLayoutPrefix: "#et-boc .et-l",
			};
			var et_pb_box_shadow_elements = [];
			var et_pb_motion_elements = { desktop: [], tablet: [], phone: [] };
			/* ]]> */
		</script>
		<script
			type="text/javascript"
			src="../../wp-content/themes/folder/js/custom.unifieda94e.js"
		></script>
		<script
			type="text/javascript"
			src="../../wp-content/themes/folder/core/admin/js/commona94e.js"
		></script>
		<script
			type="text/javascript"
			src="../../wp-includes/js/wp-embed.minc225.js"
		></script>
		<script type="text/javascript">
			var mejsL10n = {
				language: "en",
				strings: {
					"mejs.download-file": "Download File",
					"mejs.install-flash":
						"You are using a browser that does not have Flash player enabled or installed. Please turn on your Flash player plugin or download the latest version from https:\/\/get.adobe.com\/flashplayer\/",
					"mejs.fullscreen": "Fullscreen",
					"mejs.play": "Play",
					"mejs.pause": "Pause",
					"mejs.time-slider": "Time Slider",
					"mejs.time-help-text":
						"Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.",
					"mejs.live-broadcast": "Live Broadcast",
					"mejs.volume-help-text":
						"Use Up\/Down Arrow keys to increase or decrease volume.",
					"mejs.unmute": "Unmute",
					"mejs.mute": "Mute",
					"mejs.volume-slider": "Volume Slider",
					"mejs.video-player": "Video Player",
					"mejs.audio-player": "Audio Player",
					"mejs.captions-subtitles": "Captions\/Subtitles",
					"mejs.captions-chapters": "Chapters",
					"mejs.none": "None",
					"mejs.afrikaans": "Afrikaans",
					"mejs.albanian": "Albanian",
					"mejs.arabic": "Arabic",
					"mejs.belarusian": "Belarusian",
					"mejs.bulgarian": "Bulgarian",
					"mejs.catalan": "Catalan",
					"mejs.chinese": "Chinese",
					"mejs.chinese-simplified": "Chinese (Simplified)",
					"mejs.chinese-traditional": "Chinese (Traditional)",
					"mejs.croatian": "Croatian",
					"mejs.czech": "Czech",
					"mejs.danish": "Danish",
					"mejs.dutch": "Dutch",
					"mejs.english": "English",
					"mejs.estonian": "Estonian",
					"mejs.filipino": "Filipino",
					"mejs.finnish": "Finnish",
					"mejs.french": "French",
					"mejs.galician": "Galician",
					"mejs.german": "German",
					"mejs.greek": "Greek",
					"mejs.haitian-creole": "Haitian Creole",
					"mejs.hebrew": "Hebrew",
					"mejs.hindi": "Hindi",
					"mejs.hungarian": "Hungarian",
					"mejs.icelandic": "Icelandic",
					"mejs.indonesian": "Indonesian",
					"mejs.irish": "Irish",
					"mejs.italian": "Italian",
					"mejs.japanese": "Japanese",
					"mejs.korean": "Korean",
					"mejs.latvian": "Latvian",
					"mejs.lithuanian": "Lithuanian",
					"mejs.macedonian": "Macedonian",
					"mejs.malay": "Malay",
					"mejs.maltese": "Maltese",
					"mejs.norwegian": "Norwegian",
					"mejs.persian": "Persian",
					"mejs.polish": "Polish",
					"mejs.portuguese": "Portuguese",
					"mejs.romanian": "Romanian",
					"mejs.russian": "Russian",
					"mejs.serbian": "Serbian",
					"mejs.slovak": "Slovak",
					"mejs.slovenian": "Slovenian",
					"mejs.spanish": "Spanish",
					"mejs.swahili": "Swahili",
					"mejs.swedish": "Swedish",
					"mejs.tagalog": "Tagalog",
					"mejs.thai": "Thai",
					"mejs.turkish": "Turkish",
					"mejs.ukrainian": "Ukrainian",
					"mejs.vietnamese": "Vietnamese",
					"mejs.welsh": "Welsh",
					"mejs.yiddish": "Yiddish",
				},
			};
		</script>
		<script
			type="text/javascript"
			src="../../wp-includes/js/mediaelement/mediaelement-and-player.minc270.js"
		></script>
		<script
			type="text/javascript"
			src="../../wp-includes/js/mediaelement/mediaelement-migrate.minc225.js"
		></script>
		<script type="text/javascript">
			/* <![CDATA[ */
			var _wpmejsSettings = {
				pluginPath: "\/layouts\/wp-includes\/js\/mediaelement\/",
				classPrefix: "mejs-",
				stretching: "responsive",
			};
			/* ]]> */
		</script>
		<script
			type="text/javascript"
			src="../../wp-includes/js/mediaelement/wp-mediaelement.minc225.js"
		></script>
	</body>
</html>
