<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)]><!-->
<html lang="en-US">
	<!--<![endif]-->
	<head>

		<script type="text/javascript">
			document.documentElement.className = "js";
		</script>
		<script>
			var et_site_url = "";
			var et_post_id = "216348";
			function et_core_page_resource_fallback(a, b) {
				"undefined" === typeof b &&
					(b = a.sheet.cssRules && 0 === a.sheet.cssRules.length);
				b &&
					((a.onerror = null),
					(a.onload = null),
					a.href
						? (a.href =
								et_site_url +
								"/?et_core_page_resource=" +
								a.id +
								et_post_id)
						: a.src &&
						  (a.src =
								et_site_url +
								"/?et_core_page_resource=" +
								a.id +
								et_post_id));
			}
		</script>
		<title>Day Care Home | Tiddly Tots Play School</title>

		<meta property="og:type" content="article" />
		<meta property="og:title" content="Day Care Home | Tiddly Tots Play School" />
		<meta
			property="og:url"
			content="day-care-home-page/live-demo"
		/>
		<meta property="og:site_name" content="Tiddly Tots Play School" />
		<meta
			property="article:publisher"
			content="https://facebook.com/TiddlyTotsSchool"
		/>
		<meta
			property="article:modified_time"
			content="2018-11-02T01:10:11+00:00"
		/>
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:creator" content="@" />
		<meta name="twitter:site" content="@" />
		<script type="application/ld+json" class="yoast-schema-graph">
			{
				"@context": "https://schema.org",
				"@graph": [
					{
						"@type": "WebPage",
						"@id": "https://tiddlytotsschool.com/layouts/education/day-care-home-page/live-demo#webpage",
						"url": "https://tiddlytotsschool.com/layouts/education/day-care-home-page/live-demo",
						"name": "Day Care Home | Tiddly Tots Play School",
						"isPartOf": {
							"@id": "https://tiddlytotsschool.com/layouts/#website"
						},
						"datePublished": "2018-11-02T01:05:49+00:00",
						"dateModified": "2018-11-02T01:10:11+00:00",
						"inLanguage": "en-US",
						"potentialAction": [
							{
								"@type": "ReadAction",
								"target": [
									"https://tiddlytotsschool.com/layouts/education/day-care-home-page/live-demo"
								]
							}
						]
					}
				]
			}
		</script>
		<link rel="dns-prefetch" href="http://cdn.jsdelivr.net/" />
		<link rel="dns-prefetch" href="http://fonts.googleapis.com/" />

		<link
			rel="stylesheet"
			id="wp-block-library-css"
			href="../../wp-includes/css/dist/block-library/style.minc225.css"
			type="text/css"
			media="all"
		/>

		<link
			rel="stylesheet"
			id="divi-fonts-css"
			href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,latin-ext"
			type="text/css"
			media="all"
		/>
		<link
			rel="stylesheet"
			id="divi-style-css"
			href="../../wp-content/themes/folder/stylea94e.css"
			type="text/css"
			media="all"
		/>
		<link
			rel="stylesheet"
			id="et-builder-googlefonts-cached-css"
			href="https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CFredoka+One%3Aregular%7CMuli%3A200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%2C200italic%2C300italic%2Citalic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic&amp;ver=5.4.1#038;subset=latin,latin-ext"
			type="text/css"
			media="all"
		/>
		<link
			rel="stylesheet"
			id="dashicons-css"
			href="../../wp-includes/css/dashicons.minc225.css"
			type="text/css"
			media="all"
		/>
		<script
			type="text/javascript"
			src="../../wp-includes/js/jquery/jquery4a5f.js"
		></script>
		<script
			type="text/javascript"
			src="../../wp-includes/js/jquery/jquery-migrate.min330a.js"
		></script>
		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"
		></script>

		<script
			type="text/javascript"
			src="../../wp-content/themes/folder/core/admin/js/recaptchac225.js"
		></script>

		<link
			rel="EditURI"
			type="application/rsd+xml"
			title="RSD"
			href="https://tiddlytotsschool.com/layouts/xmlrpc.php?rsd"
		/>
		<link
			rel="wlwmanifest"
			type="application/wlwmanifest+xml"
			href="https://tiddlytotsschool.com/layouts/wp-includes/wlwmanifest.xml"
		/>
		<link
			rel="shortlink"
			href="216348"
		/>
		<link
			rel="alternate"
			type="application/json+oembed"
			href="https://tiddlytotsschool.com/layouts/wp-json/oembed/1.0/embed?url=https%3A%2F%2Ftiddlytotsschool.com%2Flayouts%2Feducation%2Fday-care-home-page%2Flive-demo"
		/>
		<link
			rel="alternate"
			type="text/xml+oembed"
			href="https://tiddlytotsschool.com/layouts/wp-json/oembed/1.0/embed?url=https%3A%2F%2Ftiddlytotsschool.com%2Flayouts%2Feducation%2Fday-care-home-page%2Flive-demo&amp;format=xml"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
		/>

		<link
			rel="icon"
			href="../../wp-content/uploads/2017/12/logo.png"
			sizes="32x32"
		/>
		<link
			rel="icon"
			href="../../wp-content/uploads/2017/12/logo.png"
			sizes="192x192"
		/>
		<link
			rel="apple-touch-icon"
			href="../../wp-content/uploads/2017/12/logo.png"
		/>
		<meta
			name="msapplication-TileImage"
			content="https://tiddlytotsschool.com/layouts/wp-content/uploads/2017/12/logo.png"
		/>
		<link
			rel="stylesheet"
			id="et-core-unified-216348-cached-inline-styles"
			href="../../wp-content/et-cache/216348/et-core-unified-216348-15884542189267.min.css"
		/>
	</head>
	<body
		class="page-template-default page page-id-216348 theme-Divi et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns4 et_cover_background et_pb_gutter windows et_pb_gutters3 et_pb_pagebuilder_layout et_no_sidebar et_divi_theme et-db et_minified_js et_minified_css"
	>
		<div id="page-container">
			<header id="main-header" data-height-onload="66">
				<div class="container clearfix et_menu_container">
					<div class="title_container">
						<h1>
							<a
								href="https://tiddlytotsschool.com/layouts/education/day-care-home-page"
								title="title here"
							>
								Day Care Home
							</a>
						</h1>
					</div>
					<div
						id="et-top-navigation"
						data-height="66"
						data-fixed-height="40"
					>
						<nav id="top-menu-nav">
							<ul id="top-menu" class="nav">
								<li
									id="menu-item-216345"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216345"
								>
									<a
										href="/blog"
										>Blog</a
									>
								</li>
								<li
									id="menu-item-216347"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216347"
								>
									<a
										href="/contact"
										>Contact</a
									>
								</li>
								<li
									id="menu-item-216349"
									class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-216348 current_page_item menu-item-216349"
								>
									<a href="/" aria-current="page"
										>Home</a
									>
								</li>
								<li
									id="menu-item-216351"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216351"
								>
									<a
										href="/programs"
										>Programs</a
									>
								</li>
								<li
									id="menu-item-216353"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216353"
								>
									<a
										href="../daycare-about-page/"
										>About</a
									>
								</li>
								<li
									id="menu-item-216355"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216355"
								>
									<a
										href="/pricing"
										>Pricing</a
									>
								</li>
								<li
									id="menu-item-216357"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216357"
								>
									<a
										href="/landing"
										>Landing</a
									>
								</li>
							</ul>
						</nav>
						<a
							href=""
							class="et-cart-info"
						>
							<span></span>
						</a>
						<div id="et_mobile_nav_menu">
							<div class="mobile_nav closed">
								<span class="select_page">Select Page</span>
								<span
									class="mobile_menu_bar mobile_menu_bar_toggle"
								></span>
							</div>
						</div>
					</div>
				</div>
				<div class="et_search_outer">
					<div class="container et_search_form_container">
						<form
							role="search"
							method="get"
							class="et-search-form"
							action="https://tiddlytotsschool.com/layouts/"
						>
							<input
								type="search"
								class="et-search-field"
								placeholder="Search &hellip;"
								value=""
								name="s"
								title="Search for:"
							/>
						</form>
						<span class="et_close_search_field"></span>
					</div>
				</div>
			</header>
			<div id="et-main-area">
				<div id="main-content">
					<article
						id="post-216348"
						class="post-216348 page type-page status-publish hentry"
					>
						<div class="entry-content">
							<div id="et-boc" class="et-boc">
								<div class="et-l et-l--post">
									<div
										class="et_builder_inner_content et_pb_gutters3"
									>
										<div
											class="et_pb_section et_pb_section_0 et_pb_section_parallax et_pb_with_background et_pb_fullwidth_section et_section_regular section_has_divider et_pb_bottom_divider"
										>
											<div class="et_parallax_bg_wrap">
												<div
													class="et_parallax_bg"
													style="
														background-image: url(../../wp-content/uploads/2018/11/day_care_bg_02.png);
													"
												></div>
											</div>
											<div
												class="et_pb_module et_pb_fullwidth_image et_pb_fullwidth_image_0 et_animated et-waypoint"
											>
												<img
													src="../../wp-content/uploads/2018/11/day_care_img_07.png"
													alt=""
													title=""
													srcset="
														https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_07.png         1920w,
														https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_07-254x48.png   254w,
														https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_07-533x101.png  533w,
														https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_07-510x96.png   510w
													"
													sizes="(max-width: 1920px) 100vw, 1920px"
												/>
											</div>
											<section
												class="et_pb_module et_pb_fullwidth_header et_pb_fullwidth_header_0 et_animated et_hover_enabled et_pb_text_align_center et_pb_bg_layout_light"
											>
												<div
													class="et_pb_fullwidth_header_container center"
												>
													<div
														class="header-content-container center"
													>
														<div
															class="header-content"
														>
															<h1
																class="et_pb_module_header"
															>
																Divi Daycare
															</h1>
															<div
																class="et_pb_header_content_wrapper"
															></div>
															<a
																class="et_pb_button et_pb_more_button et_pb_button_one"
																href="#"
																>Get Started</a
															>
														</div>
													</div>
												</div>
												<div
													class="et_pb_fullwidth_header_overlay"
												></div>
												<div
													class="et_pb_fullwidth_header_scroll"
												></div>
											</section>
											<div
												class="et_pb_module et_pb_fullwidth_image et_pb_fullwidth_image_1 et_animated et-waypoint"
											>
												<img
													src="../../wp-content/uploads/2018/11/day_care_img_06.png"
													alt=""
													title=""
													srcset="
														https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_06.png         2560w,
														https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_06-254x56.png   254w,
														https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_06-533x118.png  533w,
														https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_06-510x113.png  510w
													"
													sizes="(max-width: 2560px) 100vw, 2560px"
												/>
											</div>
											<div
												class="et_pb_bottom_inside_divider et-no-transition"
											></div>
										</div>
										<div
											class="et_pb_section et_pb_section_1 et_hover_enabled et_section_regular"
										>
											<div
												class="et_pb_row et_pb_row_0 et_hover_enabled"
											>
												<div
													class="et_pb_column et_pb_column_4_4 et_pb_column_0 et_pb_css_mix_blend_mode_passthrough et-last-child"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_0 et_pb_text_align_center et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<h2>About Us</h2>
														</div>
													</div>
													<div
														class="et_pb_module et_pb_text et_pb_text_1 et_pb_text_align_center et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<p>
																Aenean finibus
																fermentum purus
																et tristique.
																Donec at
																molestie tellus.
																Donec dignissim
																eleifend libero
																sed blandit
																massa mattis
																non. In
																tincidunt, ex
																vitae laoreet
																pretium, arcu
																nisi commodo
																velit. Aenean
																finibus
																fermentum purus
																et tristique.
																Donec at
																molestie tellus.
																Donec dignissim
																eleifend libero
																sed blandit
																massa mattis
																non. In
																tincidunt, ex
																vitae laoreet
																pretium, arcu
																nisi commodo
																velit. Aenean
																finibus
																fermentum purus
																et tristique.
																Donec at
																molestie tellus.
																Donec dignissim
																eleifend libero
																sed blandit
																massa mattis
																non. In
																tincidunt, ex
																vitae laoreet
																pretium, arcu
																nisi commodo
																velit.
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div
											class="et_pb_section et_pb_section_2 et_hover_enabled et_section_regular"
										>
											<div class="et_pb_row et_pb_row_1">
												<div
													class="et_pb_column et_pb_column_1_2 et_pb_column_1 et_pb_css_mix_blend_mode_passthrough"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_2 et_pb_text_align_left et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<h2>
																Our Pre-School.
																Our Family. Our
																Community
															</h2>
														</div>
													</div>
													<div
														class="et_pb_module et_pb_text et_pb_text_3 et_pb_text_align_left et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<p>
																Aenean finibus
																fermentum purus
																et tristique.
																Donec at
																molestie tellus.
																Donec dignissim
																eleifend libero
																sed blandit
																massa mattis
																non. In
																tincidunt, ex
																vitae laoreet
																pretium, arcu
																nisi commodo
																velit. Aenean
																finibus
																fermentum purus
																et tristique.
																Donec at
																molestie tellus.
																Donec dignissim
																eleifend libero
																sed blandit
																massa mattis
																non. In
																tincidunt, ex
																vitae laoreet
																pretium
															</p>
														</div>
													</div>
													<div
														class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_module"
													>
														<a
															class="et_pb_button et_pb_custom_button_icon et_pb_button_0 et_pb_bg_layout_light"
															href="#"
															data-icon="&#x24;"
															>Join Today</a
														>
													</div>
												</div>
												<div
													class="et_pb_column et_pb_column_1_2 et_pb_column_2 et_pb_css_mix_blend_mode_passthrough et-last-child"
												>
													<div
														class="et_pb_module et_pb_image et_pb_image_0 et_animated et-waypoint"
													>
														<span
															class="et_pb_image_wrap"
															><img
																src="../../wp-content/uploads/2018/11/day_care_img_11.jpg"
																alt=""
																title=""
																srcset="
																	https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_11.jpg         600w,
																	https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_11-254x342.jpg 254w,
																	https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_11-533x718.jpg 533w,
																	https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_11-510x687.jpg 510w
																"
																sizes="(max-width: 600px) 100vw, 600px"
														/></span>
													</div>
												</div>
											</div>
											<div
												class="et_pb_row et_pb_row_2 et_hover_enabled"
											>
												<div
													class="et_pb_column et_pb_column_3_5 et_pb_column_3 et_pb_css_mix_blend_mode_passthrough"
												>
													<div
														class="et_pb_module et_pb_image et_pb_image_1 et_animated et_hover_enabled et-waypoint"
													>
														<span
															class="et_pb_image_wrap"
															><img
																src="../../wp-content/uploads/2018/11/day_care_img_12.jpg"
																alt=""
																title=""
																srcset="
																	https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_12.jpg         800w,
																	https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_12-254x169.jpg 254w,
																	https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_12-533x354.jpg 533w,
																	https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_12-510x339.jpg 510w
																"
																sizes="(max-width: 800px) 100vw, 800px"
														/></span>
													</div>
												</div>
												<div
													class="et_pb_column et_pb_column_2_5 et_pb_column_4 et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty"
												></div>
											</div>
										</div>
										<div
											class="et_pb_section et_pb_section_3 et_pb_section_parallax et_section_regular"
										>
											<div class="et_pb_row et_pb_row_3">
												<div
													class="et_pb_column et_pb_column_4_4 et_pb_column_5 et_pb_css_mix_blend_mode_passthrough et-last-child"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_4 et_pb_text_align_center et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<h2>Curriculum</h2>
														</div>
													</div>
												</div>
											</div>
											<div class="et_pb_row et_pb_row_4">
												<div
													class="et_pb_column et_pb_column_1_4 et_pb_column_6 et_pb_css_mix_blend_mode_passthrough"
												>
													<div
														class="et_pb_module et_pb_blurb et_pb_blurb_0 et_animated et_clickable et_pb_text_align_center et_pb_blurb_position_top et_pb_bg_layout_light"
													>
														<div
															class="et_pb_blurb_content"
														>
															<div
																class="et_pb_main_blurb_image"
															>
																<span
																	class="et_pb_image_wrap"
																	><span
																		class="et-waypoint et_pb_animation_off et-pb-icon et-pb-icon-circle"
																		>&#xe104;</span
																	></span
																>
															</div>
															<div
																class="et_pb_blurb_container"
															>
																<h4
																	class="et_pb_module_header"
																>
																	<span
																		>Reading/Writing</span
																	>
																</h4>
																<div
																	class="et_pb_blurb_description"
																>
																	<p>
																		Morbi
																		auctor
																		feugiat
																		maximus.
																		Ut
																		condimentum,
																		mi ut
																		efficitur
																		molestie,
																		nibh
																		metus
																		venenatis
																		sapien.
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div
													class="et_pb_column et_pb_column_1_4 et_pb_column_7 et_pb_css_mix_blend_mode_passthrough"
												>
													<div
														class="et_pb_module et_pb_blurb et_pb_blurb_1 et_animated et_clickable et_pb_text_align_center et_pb_blurb_position_top et_pb_bg_layout_light"
													>
														<div
															class="et_pb_blurb_content"
														>
															<div
																class="et_pb_main_blurb_image"
															>
																<span
																	class="et_pb_image_wrap"
																	><span
																		class="et-waypoint et_pb_animation_off et-pb-icon et-pb-icon-circle"
																		>&#xe00a;</span
																	></span
																>
															</div>
															<div
																class="et_pb_blurb_container"
															>
																<h4
																	class="et_pb_module_header"
																>
																	<span
																		>Math/Science</span
																	>
																</h4>
																<div
																	class="et_pb_blurb_description"
																>
																	<p>
																		Morbi
																		auctor
																		feugiat
																		maximus.
																		Ut
																		condimentum,
																		mi ut
																		efficitur
																		molestie,
																		nibh
																		metus
																		venenatis
																		sapien.
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div
													class="et_pb_column et_pb_column_1_4 et_pb_column_8 et_pb_css_mix_blend_mode_passthrough"
												>
													<div
														class="et_pb_module et_pb_blurb et_pb_blurb_2 et_animated et_clickable et_pb_text_align_center et_pb_blurb_position_top et_pb_bg_layout_light"
													>
														<div
															class="et_pb_blurb_content"
														>
															<div
																class="et_pb_main_blurb_image"
															>
																<span
																	class="et_pb_image_wrap"
																	><span
																		class="et-waypoint et_pb_animation_off et-pb-icon et-pb-icon-circle"
																		>&#xe005;</span
																	></span
																>
															</div>
															<div
																class="et_pb_blurb_container"
															>
																<h4
																	class="et_pb_module_header"
																>
																	<span
																		>Art</span
																	>
																</h4>
																<div
																	class="et_pb_blurb_description"
																>
																	<p>
																		Morbi
																		auctor
																		feugiat
																		maximus.
																		Ut
																		condimentum,
																		mi ut
																		efficitur
																		molestie,
																		nibh
																		metus
																		venenatis
																		sapien.
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div
													class="et_pb_column et_pb_column_1_4 et_pb_column_9 et_pb_css_mix_blend_mode_passthrough et-last-child"
												>
													<div
														class="et_pb_module et_pb_blurb et_pb_blurb_3 et_animated et_clickable et_pb_text_align_center et_pb_blurb_position_top et_pb_bg_layout_light"
													>
														<div
															class="et_pb_blurb_content"
														>
															<div
																class="et_pb_main_blurb_image"
															>
																<span
																	class="et_pb_image_wrap"
																	><span
																		class="et-waypoint et_pb_animation_off et-pb-icon et-pb-icon-circle"
																		>&#xe007;</span
																	></span
																>
															</div>
															<div
																class="et_pb_blurb_container"
															>
																<h4
																	class="et_pb_module_header"
																>
																	<span
																		>Critical
																		Thinking</span
																	>
																</h4>
																<div
																	class="et_pb_blurb_description"
																>
																	<p>
																		Morbi
																		auctor
																		feugiat
																		maximus.
																		Ut
																		condimentum,
																		mi ut
																		efficitur
																		molestie,
																		nibh
																		metus
																		venenatis
																		sapien.
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div
											class="et_pb_section et_pb_section_4 et_pb_fullwidth_section et_section_regular"
										>
											<div
												class="et_pb_module et_pb_fullwidth_image et_pb_fullwidth_image_2 et_animated et-waypoint"
											>
												<img
													src="../../wp-content/uploads/2018/11/day_care_img_13.jpg"
													alt=""
													title=""
													srcset="
														https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_13.jpg         2383w,
														https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_13-254x75.jpg   254w,
														https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_13-533x157.jpg  533w,
														https://tiddlytotsschool.com/layouts/wp-content/uploads/2018/11/day_care_img_13-510x150.jpg  510w
													"
													sizes="(max-width: 2383px) 100vw, 2383px"
												/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<footer id="main-footer">
					<div id="footer-bottom">
						<div class="container clearfix">
							<ul class="et-social-icons">
								<li class="et-social-icon et-social-facebook">
									<a href="#" class="icon">
										<span>Facebook</span>
									</a>
								</li>
								<li class="et-social-icon et-social-twitter">
									<a href="#" class="icon">
										<span>Twitter</span>
									</a>
								</li>
								<li
									class="et-social-icon et-social-google-plus"
								>
									<a href="#" class="icon">
										<span>Google</span>
									</a>
								</li>

							</ul>
							Designed and maintained for
								<a href="/" title="Tiddly Tots Play School"
									>Tiddly Tots Play School</a
								>
								by
								<a
									target="_blank"
									rel="noopener"
									href="https://linkedin.com/in/aravindvnair99/"
									>Aravind V Nair</a
								>
						</div>
					</div>
				</footer>
			</div>
		</div>
		<script type="text/javascript">
			var et_animation_data = [
				{
					class: "et_pb_fullwidth_image_0",
					style: "rollTop",
					repeat: "once",
					duration: "1000ms",
					delay: "0ms",
					intensity: "1%",
					starting_opacity: "0%",
					speed_curve: "ease-in-out",
				},
				{
					class: "et_pb_fullwidth_header_0",
					style: "zoom",
					repeat: "once",
					duration: "1000ms",
					delay: "0ms",
					intensity: "5%",
					starting_opacity: "0%",
					speed_curve: "ease-in-out",
				},
				{
					class: "et_pb_fullwidth_image_1",
					style: "slideBottom",
					repeat: "once",
					duration: "1000ms",
					delay: "0ms",
					intensity: "1%",
					starting_opacity: "0%",
					speed_curve: "ease-in-out",
				},
				{
					class: "et_pb_image_0",
					style: "slideTop",
					repeat: "once",
					duration: "1000ms",
					delay: "0ms",
					intensity: "2%",
					starting_opacity: "0%",
					speed_curve: "ease-in-out",
				},
				{
					class: "et_pb_image_1",
					style: "slideBottom",
					repeat: "once",
					duration: "1000ms",
					delay: "0ms",
					intensity: "2%",
					starting_opacity: "0%",
					speed_curve: "ease-in-out",
				},
				{
					class: "et_pb_blurb_0",
					style: "slideBottom",
					repeat: "once",
					duration: "1000ms",
					delay: "0ms",
					intensity: "2%",
					starting_opacity: "0%",
					speed_curve: "ease-in-out",
				},
				{
					class: "et_pb_blurb_1",
					style: "slideBottom",
					repeat: "once",
					duration: "1000ms",
					delay: "0ms",
					intensity: "2%",
					starting_opacity: "0%",
					speed_curve: "ease-in-out",
				},
				{
					class: "et_pb_blurb_2",
					style: "slideBottom",
					repeat: "once",
					duration: "1000ms",
					delay: "0ms",
					intensity: "2%",
					starting_opacity: "0%",
					speed_curve: "ease-in-out",
				},
				{
					class: "et_pb_blurb_3",
					style: "slideBottom",
					repeat: "once",
					duration: "1000ms",
					delay: "0ms",
					intensity: "2%",
					starting_opacity: "0%",
					speed_curve: "ease-in-out",
				},
				{
					class: "et_pb_fullwidth_image_2",
					style: "slideBottom",
					repeat: "once",
					duration: "1000ms",
					delay: "0ms",
					intensity: "2%",
					starting_opacity: "0%",
					speed_curve: "ease-in-out",
				},
			];
			var et_link_options_data = [
				{ class: "et_pb_blurb_0", url: "#", target: "_self" },
				{ class: "et_pb_blurb_1", url: "#", target: "_self" },
				{ class: "et_pb_blurb_2", url: "#", target: "_self" },
				{ class: "et_pb_blurb_3", url: "#", target: "_self" },
			];
		</script>


		<script type="text/javascript">
			/* <![CDATA[ */
			var DIVI = { item_count: "%d Item", items_count: "%d Items" };
			var et_shortcodes_strings = { previous: "Previous", next: "Next" };
			var et_pb_custom = {
				ajaxurl:
					"https:\/\/tiddlytotsschool.com\/layouts\/wp-admin\/admin-ajax.php",
				images_uri:
					"https:\/\/tiddlytotsschool.com\/layouts\/wp-content\/themes\/Divi\/images",
				builder_images_uri:
					"https:\/\/tiddlytotsschool.com\/layouts\/wp-content\/themes\/Divi\/includes\/builder\/images",
				et_frontend_nonce: "f1910e4a54",
				subscription_failed:
					"Please, check the fields below to make sure you entered the correct information.",
				et_ab_log_nonce: "8a922d58b2",
				fill_message: "Please, fill in the following fields:",
				contact_error_message: "Please, fix the following errors:",
				invalid: "Invalid email",
				captcha: "Captcha",
				prev: "Prev",
				previous: "Previous",
				next: "Next",
				wrong_captcha: "You entered the wrong number in captcha.",
				wrong_checkbox: "Checkbox",
				ignore_waypoints: "no",
				is_divi_theme_used: "1",
				widget_search_selector: ".widget_search",
				ab_tests: [],
				is_ab_testing_active: "",
				page_id: "216348",
				unique_test_id: "",
				ab_bounce_rate: "5",
				is_cache_plugin_active: "no",
				is_shortcode_tracking: "",
				tinymce_uri: "",
			};
			var et_frontend_scripts = {
				builderCssContainerPrefix: "#et-boc",
				builderCssLayoutPrefix: "#et-boc .et-l",
			};
			var et_pb_box_shadow_elements = [];
			var et_pb_motion_elements = { desktop: [], tablet: [], phone: [] };
			/* ]]> */
		</script>
		<script
			type="text/javascript"
			src="../../wp-content/themes/folder/js/custom.unifieda94e.js"
		></script>
		<script
			type="text/javascript"
			src="../../wp-content/themes/folder/core/admin/js/commona94e.js"
		></script>
		<script
			type="text/javascript"
			src="../../wp-includes/js/wp-embed.minc225.js"
		></script>
	</body>
</html>
