<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)]><!-->
<html lang="en-US">
	<!--<![endif]-->
	<head>

		<script type="text/javascript">
			document.documentElement.className = "js";
		</script>
		<script>
			var et_site_url = "";
			var et_post_id = "216354";
			function et_core_page_resource_fallback(a, b) {
				"undefined" === typeof b &&
					(b = a.sheet.cssRules && 0 === a.sheet.cssRules.length);
				b &&
					((a.onerror = null),
					(a.onload = null),
					a.href
						? (a.href =
								et_site_url +
								"/?et_core_page_resource=" +
								a.id +
								et_post_id)
						: a.src &&
						  (a.src =
								et_site_url +
								"/?et_core_page_resource=" +
								a.id +
								et_post_id));
			}
		</script>
		<title>Daycare Pricing | Tiddly Tots Play School</title>

		<meta property="og:type" content="article" />
		<meta property="og:title" content="Daycare Pricing | Tiddly Tots Play School" />
		<meta
			property="og:url"
			content="daycare-pricing-page/live-demo"
		/>
		<meta property="og:site_name" content="Tiddly Tots Play School" />
		<meta
			property="article:publisher"
			content="https://facebook.com/TiddlyTotsSchool"
		/>
		<meta
			property="article:modified_time"
			content="2018-11-02T01:09:51+00:00"
		/>
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:creator" content="@" />
		<meta name="twitter:site" content="@" />
		<script type="application/ld+json" class="yoast-schema-graph">
			{
				"@context": "https://schema.org",
				"@graph": [
					{
						"@type": "WebPage",
						"@id": "/education/daycare-pricing-page/live-demo#webpage",
						"url": "/education/daycare-pricing-page/live-demo",
						"name": "Daycare Pricing | Tiddly Tots Play School",
						"isPartOf": {
							"@id": "/#website"
						},
						"datePublished": "2018-11-02T01:05:49+00:00",
						"dateModified": "2018-11-02T01:09:51+00:00",
						"inLanguage": "en-US",
						"potentialAction": [
							{
								"@type": "ReadAction",
								"target": [
									"/education/daycare-pricing-page/live-demo"
								]
							}
						]
					}
				]
			}
		</script>
		<link rel="dns-prefetch" href="http://cdn.jsdelivr.net/" />
		<link rel="dns-prefetch" href="http://fonts.googleapis.com/" />

		<link
			rel="stylesheet"
			id="wp-block-library-css"
			href="../../wp-includes/css/dist/block-library/style.minc225.css"
			type="text/css"
			media="all"
		/>

		<link
			rel="stylesheet"
			id="divi-fonts-css"
			href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,latin-ext"
			type="text/css"
			media="all"
		/>
		<link
			rel="stylesheet"
			id="divi-style-css"
			href="../../wp-content/themes/folder/stylea94e.css"
			type="text/css"
			media="all"
		/>
		<link
			rel="stylesheet"
			id="et-builder-googlefonts-cached-css"
			href="https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CFredoka+One%3Aregular%7CMuli%3A200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%2C200italic%2C300italic%2Citalic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic%7COpen+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;ver=5.4.1#038;subset=latin,latin-ext"
			type="text/css"
			media="all"
		/>
		<link
			rel="stylesheet"
			id="dashicons-css"
			href="../../wp-includes/css/dashicons.minc225.css"
			type="text/css"
			media="all"
		/>
		<script
			type="text/javascript"
			src="../../wp-includes/js/jquery/jquery4a5f.js"
		></script>
		<script
			type="text/javascript"
			src="../../wp-includes/js/jquery/jquery-migrate.min330a.js"
		></script>
		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"
		></script>
<link
			rel="EditURI"
			type="application/rsd+xml"
			title="RSD"
			href="/xmlrpc.php?rsd"
		/>
		<link
			rel="wlwmanifest"
			type="application/wlwmanifest+xml"
			href="/wp-includes/wlwmanifest.xml"
		/>
		<link
			rel="shortlink"
			href="216354"
		/>
		<link
			rel="alternate"
			type="application/json+oembed"
			href="/wp-json/oembed/1.0/embed?url=https%3A%2F%2Ftiddlytotsschool.com%2Flayouts%2Feducation%2Fdaycare-pricing-page%2Flive-demo"
		/>
		<link
			rel="alternate"
			type="text/xml+oembed"
			href="/wp-json/oembed/1.0/embed?url=https%3A%2F%2Ftiddlytotsschool.com%2Flayouts%2Feducation%2Fdaycare-pricing-page%2Flive-demo&amp;format=xml"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
		/>

		<link
			rel="icon"
			href="../../wp-content/uploads/2017/12/logo.png"
			sizes="32x32"
		/>
		<link
			rel="icon"
			href="../../wp-content/uploads/2017/12/logo.png"
			sizes="192x192"
		/>
		<link
			rel="apple-touch-icon"
			href="../../wp-content/uploads/2017/12/logo.png"
		/>
		<meta
			name="msapplication-TileImage"
			content="/wp-content/uploads/2017/12/logo.png"
		/>
		<link
			rel="stylesheet"
			id="et-core-unified-216354-cached-inline-styles"
			href="../../wp-content/et-cache/216354/et-core-unified-216354-15884561411204.min.css"
		/>
	</head>
	<body
		class="page-template-default page page-id-216354 theme-Divi et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns4 et_cover_background et_pb_gutter windows et_pb_gutters3 et_pb_pagebuilder_layout et_no_sidebar et_divi_theme et-db et_minified_js et_minified_css"
	>
		<div id="page-container">
			<header id="main-header" data-height-onload="66">
				<div class="container clearfix et_menu_container">
					<div class="title_container">
						<h1>
							<a
								href="/education/daycare-pricing-page"
								title="title here"
							>
								Daycare Pricing
							</a>
						</h1>
					</div>
					<div
						id="et-top-navigation"
						data-height="66"
						data-fixed-height="40"
					>
						<nav id="top-menu-nav">
							<ul id="top-menu" class="nav">
								<li
									id="menu-item-216345"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216345"
								>
									<a
										href="/blog"
										>Blog</a
									>
								</li>
								<li
									id="menu-item-216347"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216347"
								>
									<a
										href="/contact"
										>Contact</a
									>
								</li>
								<li
									id="menu-item-216349"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216349"
								>
									<a
										href="/home"
										>Home</a
									>
								</li>
								<li
									id="menu-item-216351"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216351"
								>
									<a
										href="/programs"
										>Programs</a
									>
								</li>
								<li
									id="menu-item-216353"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216353"
								>
									<a
										href="../daycare-about-page/"
										>About</a
									>
								</li>
								<li
									id="menu-item-216355"
									class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-216354 current_page_item menu-item-216355"
								>
									<a href="/" aria-current="page"
										>Pricing</a
									>
								</li>
								<li
									id="menu-item-216357"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216357"
								>
									<a
										href="/landing"
										>Landing</a
									>
								</li>
							</ul>
						</nav>
						<a
							href=""
							class="et-cart-info"
						>
							<span></span>
						</a>
						<div id="et_mobile_nav_menu">
							<div class="mobile_nav closed">
								<span class="select_page">Select Page</span>
								<span
									class="mobile_menu_bar mobile_menu_bar_toggle"
								></span>
							</div>
						</div>
					</div>
				</div>
				<div class="et_search_outer">
					<div class="container et_search_form_container">
						<form
							role="search"
							method="get"
							class="et-search-form"
							action="/"
						>
							<input
								type="search"
								class="et-search-field"
								placeholder="Search &hellip;"
								value=""
								name="s"
								title="Search for:"
							/>
						</form>
						<span class="et_close_search_field"></span>
					</div>
				</div>
			</header>
			<div id="et-main-area">
				<div id="main-content">
					<article
						id="post-216354"
						class="post-216354 page type-page status-publish hentry"
					>
						<div class="entry-content">
							<div id="et-boc" class="et-boc">
								<div class="et-l et-l--post">
									<div
										class="et_builder_inner_content et_pb_gutters3"
									>
										<div
											class="et_pb_section et_pb_section_0 et_pb_section_parallax et_pb_with_background et_pb_fullwidth_section et_section_regular section_has_divider et_pb_bottom_divider"
										>
											<div class="et_parallax_bg_wrap">
												<div
													class="et_parallax_bg"
													style="
														background-image: url(../../wp-content/uploads/2018/11/day_care_bg_02.png);
													"
												></div>
											</div>
											<section
												class="et_pb_module et_pb_fullwidth_header et_pb_fullwidth_header_0 et_animated et_hover_enabled et_pb_text_align_center et_pb_bg_layout_dark"
											>
												<div
													class="et_pb_fullwidth_header_container center"
												>
													<div
														class="header-content-container center"
													>
														<div
															class="header-content"
														>
															<h1
																class="et_pb_module_header"
															>
																Admissions &amp;
																Fees
															</h1>
															<div
																class="et_pb_header_content_wrapper"
															>
																Lorem ipsum
																dolor sit amet,
																consectetur
																adipiscing elit.
																Aenean consequat
																neque tincidunt
																finibus
																condimentum.
																Etiam ultrices
																sagittis
																maximus.
															</div>
															<a
																class="et_pb_button et_pb_more_button et_pb_button_one"
																href="#"
																>Apply Now</a
															>
														</div>
													</div>
												</div>
												<div
													class="et_pb_fullwidth_header_overlay"
												></div>
												<div
													class="et_pb_fullwidth_header_scroll"
												></div>
											</section>
											<div
												class="et_pb_bottom_inside_divider et-no-transition"
											></div>
										</div>
										<div
											class="et_pb_section et_pb_section_1 et_hover_enabled et_section_regular"
										>
											<div class="et_pb_row et_pb_row_0">
												<div
													class="et_pb_column et_pb_column_3_5 et_pb_column_0 et_pb_css_mix_blend_mode_passthrough"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_0 et_pb_text_align_left et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<h2>
																How to Apply
															</h2>
														</div>
													</div>
													<div
														class="et_pb_module et_pb_text et_pb_text_1 et_pb_text_align_left et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<p>
																Aenean finibus
																fermentum purus
																et tristique.
																Donec at
																molestie tellus.
																Donec dignissim
																eleifend libero
																sed blandit
																massa mattis
																non. In
																tincidunt, ex
																vitae laoreet
																pretium, arcu
																nisi commodo
																velit. Aenean
																finibus
																fermentum purus
																et tristique.
																Donec at
																molestie tellus.
																Donec dignissim
																eleifend libero
																sed blandit
																massa mattis
																non. In
																tincidunt, ex
																vitae laoreet
																pretium
															</p>
														</div>
													</div>
													<div
														class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item et_pb_toggle_close"
													>
														<h5
															class="et_pb_toggle_title"
														>
															1. Mauris blandit
															aliquet elit, eget
															tincidunt nibh?
														</h5>
														<div
															class="et_pb_toggle_content clearfix"
														>
															<p>
																Nulla porttitor
																accumsan
																tincidunt.
																Vestibulum ac
																diam sit amet
																quam vehicula
																elementum sed
																sit amet dui.
																Vestibulum ac
																diam sit amet
																quam vehicula
																elementum sed
																sit amet dui.
																Donec rutrum
																congue leo eget
																malesuada.
															</p>
														</div>
													</div>
													<div
														class="et_pb_module et_pb_toggle et_pb_toggle_1 et_pb_toggle_item et_pb_toggle_close"
													>
														<h5
															class="et_pb_toggle_title"
														>
															2. Vivamus suscipit
															tortor eget felis
															porttitor volutpat?
														</h5>
														<div
															class="et_pb_toggle_content clearfix"
														>
															<p>
																Nulla porttitor
																accumsan
																tincidunt.
																Vestibulum ac
																diam sit amet
																quam vehicula
																elementum sed
																sit amet dui.
																Vestibulum ac
																diam sit amet
																quam vehicula
																elementum sed
																sit amet dui.
																Donec rutrum
																congue leo eget
																malesuada.
															</p>
														</div>
													</div>
													<div
														class="et_pb_module et_pb_toggle et_pb_toggle_2 et_pb_toggle_item et_pb_toggle_close"
													>
														<h5
															class="et_pb_toggle_title"
														>
															3. Nulla quis lorem
															ut libero malesuada
															feugiat?
														</h5>
														<div
															class="et_pb_toggle_content clearfix"
														>
															<p>
																Nulla porttitor
																accumsan
																tincidunt.
																Vestibulum ac
																diam sit amet
																quam vehicula
																elementum sed
																sit amet dui.
																Vestibulum ac
																diam sit amet
																quam vehicula
																elementum sed
																sit amet dui.
																Donec rutrum
																congue leo eget
																malesuada.
															</p>
														</div>
													</div>
													<div
														class="et_pb_module et_pb_toggle et_pb_toggle_3 et_pb_toggle_item et_pb_toggle_close"
													>
														<h5
															class="et_pb_toggle_title"
														>
															4. Faucibus orci
															luctus et ultrices
															posuere cubilia?
														</h5>
														<div
															class="et_pb_toggle_content clearfix"
														>
															<p>
																Nulla porttitor
																accumsan
																tincidunt.
																Vestibulum ac
																diam sit amet
																quam vehicula
																elementum sed
																sit amet dui.
																Vestibulum ac
																diam sit amet
																quam vehicula
																elementum sed
																sit amet dui.
																Donec rutrum
																congue leo eget
																malesuada.
															</p>
														</div>
													</div>
													<div
														class="et_pb_module et_pb_toggle et_pb_toggle_4 et_pb_toggle_item et_pb_toggle_close"
													>
														<h5
															class="et_pb_toggle_title"
														>
															5. Mauris blandit
															aliquet elit, eget
															tincidunt nibh?
														</h5>
														<div
															class="et_pb_toggle_content clearfix"
														>
															<p>
																Nulla porttitor
																accumsan
																tincidunt.
																Vestibulum ac
																diam sit amet
																quam vehicula
																elementum sed
																sit amet dui.
																Vestibulum ac
																diam sit amet
																quam vehicula
																elementum sed
																sit amet dui.
																Donec rutrum
																congue leo eget
																malesuada.
															</p>
														</div>
													</div>
												</div>
												<div
													class="et_pb_column et_pb_column_2_5 et_pb_column_1 et_pb_css_mix_blend_mode_passthrough et-last-child"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_2 et_pb_text_align_left et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<h2>
																Admission
																Inquiry
															</h2>
														</div>
													</div>
													<div
														id="et_pb_contact_form_0"
														class="et_pb_module et_pb_contact_form_0 et_pb_contact_form_container clearfix"
														data-form_unique_num="0"
													>
														<div
															class="et-pb-contact-message"
														></div>
														<div
															class="et_pb_contact"
														>
															<form
																class="et_pb_contact_form clearfix"
																method="post"
																action="/education/daycare-pricing-page/live-demo"
															>
																<p
																	class="et_pb_contact_field et_pb_contact_field_0 et_pb_contact_field_last"
																	data-id="parent&#039;s_name"
																	data-type="input"
																>
																	<label
																		for="et_pb_contact_parent&#039;s_name_0"
																		class="et_pb_contact_form_label"
																		>Parent&#039;s
																		Name</label
																	>
																	<input
																		type="text"
																		id="et_pb_contact_parent&#039;s_name_0"
																		class="input"
																		value=""
																		name="et_pb_contact_parent&#039;s_name_0"
																		data-required_mark="required"
																		data-field_type="input"
																		data-original_id="parent&#039;s_name"
																		placeholder="Parent&#039;s Name"
																	/>
																</p>
																<p
																	class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_last"
																	data-id="parent&#039;s_phone"
																	data-type="input"
																>
																	<label
																		for="et_pb_contact_parent&#039;s_phone_0"
																		class="et_pb_contact_form_label"
																		>Parent&#039;s
																		Phone</label
																	>
																	<input
																		type="text"
																		id="et_pb_contact_parent&#039;s_phone_0"
																		class="input"
																		value=""
																		name="et_pb_contact_parent&#039;s_phone_0"
																		data-required_mark="required"
																		data-field_type="input"
																		data-original_id="parent&#039;s_phone"
																		placeholder="Parent&#039;s Phone"
																	/>
																</p>
																<p
																	class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_last"
																	data-id="parent&#039;s_email"
																	data-type="email"
																>
																	<label
																		for="et_pb_contact_parent&#039;s_email_0"
																		class="et_pb_contact_form_label"
																		>Parent&#039;s
																		Email
																		Address</label
																	>
																	<input
																		type="text"
																		id="et_pb_contact_parent&#039;s_email_0"
																		class="input"
																		value=""
																		name="et_pb_contact_parent&#039;s_email_0"
																		data-required_mark="required"
																		data-field_type="email"
																		data-original_id="parent&#039;s_email"
																		placeholder="Parent&#039;s Email Address"
																	/>
																</p>
																<p
																	class="et_pb_contact_field et_pb_contact_field_3 et_pb_contact_field_last"
																	data-id="child’s_name"
																	data-type="input"
																>
																	<label
																		for="et_pb_contact_child’s_name_0"
																		class="et_pb_contact_form_label"
																		>Child’s
																		Name</label
																	>
																	<input
																		type="text"
																		id="et_pb_contact_child’s_name_0"
																		class="input"
																		value=""
																		name="et_pb_contact_child’s_name_0"
																		data-required_mark="required"
																		data-field_type="input"
																		data-original_id="child’s_name"
																		placeholder="Child’s Name"
																	/>
																</p>
																<p
																	class="et_pb_contact_field et_pb_contact_field_4 et_pb_contact_field_last"
																	data-id="child’s_birthdate"
																	data-type="input"
																>
																	<label
																		for="et_pb_contact_child’s_birthdate_0"
																		class="et_pb_contact_form_label"
																		>Child’s
																		Birthdate</label
																	>
																	<input
																		type="text"
																		id="et_pb_contact_child’s_birthdate_0"
																		class="input"
																		value=""
																		name="et_pb_contact_child’s_birthdate_0"
																		data-required_mark="required"
																		data-field_type="input"
																		data-original_id="child’s_birthdate"
																		placeholder="Child’s Birthdate"
																	/>
																</p>
																<p
																	class="et_pb_contact_field et_pb_contact_field_5 et_pb_contact_field_last"
																	data-id="interested_in"
																	data-type="input"
																>
																	<label
																		for="et_pb_contact_interested_in_0"
																		class="et_pb_contact_form_label"
																		>Interested
																		In</label
																	>
																	<input
																		type="text"
																		id="et_pb_contact_interested_in_0"
																		class="input"
																		value=""
																		name="et_pb_contact_interested_in_0"
																		data-required_mark="required"
																		data-field_type="input"
																		data-original_id="interested_in"
																		placeholder="Interested In"
																	/>
																</p>
																<p
																	class="et_pb_contact_field et_pb_contact_field_6 et_pb_contact_field_last"
																	data-id="anticipate_start_date"
																	data-type="input"
																>
																	<label
																		for="et_pb_contact_anticipate_start_date_0"
																		class="et_pb_contact_form_label"
																		>Anticipate
																		Start
																		Date</label
																	>
																	<input
																		type="text"
																		id="et_pb_contact_anticipate_start_date_0"
																		class="input"
																		value=""
																		name="et_pb_contact_anticipate_start_date_0"
																		data-required_mark="required"
																		data-field_type="input"
																		data-original_id="anticipate_start_date"
																		placeholder="Anticipate Start Date"
																	/>
																</p>
																<p
																	class="et_pb_contact_field et_pb_contact_field_7 et_pb_contact_field_last"
																	data-id="message"
																	data-type="text"
																>
																	<label
																		for="et_pb_contact_message_0"
																		class="et_pb_contact_form_label"
																		>Message</label
																	>
																	<textarea
																		name="et_pb_contact_message_0"
																		id="et_pb_contact_message_0"
																		class="et_pb_contact_message input"
																		data-required_mark="required"
																		data-field_type="text"
																		data-original_id="message"
																		placeholder="Message"
																	></textarea>
																</p>
																<input
																	type="hidden"
																	value="et_contact_proccess"
																	name="et_pb_contactform_submit_0"
																/>
																<div
																	class="et_contact_bottom_container"
																>
																	<button
																		type="submit"
																		name="et_builder_submit_button"
																		class="et_pb_contact_submit et_pb_button et_pb_custom_button_icon"
																		data-icon="&#x24;"
																	>
																		Submit
																	</button>
																</div>
																<input
																	type="hidden"
																	id="_wpnonce-et-pb-contact-form-submitted-0"
																	name="_wpnonce-et-pb-contact-form-submitted-0"
																	value="1e38f5facf"
																/><input
																	type="hidden"
																	name="_wp_http_referer"
																	value="/layouts/education/daycare-pricing-page/live-demo"
																/>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div
											class="et_pb_section et_pb_section_2 et_pb_section_parallax et_section_regular section_has_divider et_pb_bottom_divider et_pb_top_divider"
										>
											<div
												class="et_pb_top_inside_divider et-no-transition"
											></div>
											<div class="et_pb_row et_pb_row_1">
												<div
													class="et_pb_column et_pb_column_4_4 et_pb_column_2 et_pb_css_mix_blend_mode_passthrough et-last-child"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_3 et_pb_text_align_left et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<h2>Fees</h2>
														</div>
													</div>
												</div>
											</div>
											<div class="et_pb_row et_pb_row_2">
												<div
													class="et_pb_column et_pb_column_1_4 et_pb_column_3 et_pb_css_mix_blend_mode_passthrough"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_4 et_pb_text_align_left et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<h4>Full Time</h4>
															<p>
																Mon &#8211; Fri
																(5 days)
															</p>
														</div>
													</div>
													<div
														class="et_pb_module et_pb_text et_pb_text_5 et_pb_text_align_left et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<p>
																$1,000 per month
															</p>
														</div>
													</div>
												</div>
												<div
													class="et_pb_column et_pb_column_1_4 et_pb_column_4 et_pb_css_mix_blend_mode_passthrough"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_6 et_pb_text_align_left et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<h4>Part Time</h4>
															<p>
																Mon, Wed, Friday
																(3 days)
															</p>
														</div>
													</div>
													<div
														class="et_pb_module et_pb_text et_pb_text_7 et_pb_text_align_left et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<p>
																$600 per month
															</p>
														</div>
													</div>
												</div>
												<div
													class="et_pb_column et_pb_column_1_4 et_pb_column_5 et_pb_css_mix_blend_mode_passthrough"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_8 et_pb_text_align_left et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<h4>Pre-K</h4>
															<p>
																Mon, Wed, Friday
																(3 days)
															</p>
														</div>
													</div>
													<div
														class="et_pb_module et_pb_text et_pb_text_9 et_pb_text_align_left et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<p>
																$600 per month
															</p>
														</div>
													</div>
												</div>
												<div
													class="et_pb_column et_pb_column_1_4 et_pb_column_6 et_pb_css_mix_blend_mode_passthrough et-last-child"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_10 et_pb_text_align_left et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<h4>
																Registration
															</h4>
															<p>1 Time Fee</p>
														</div>
													</div>
													<div
														class="et_pb_module et_pb_text et_pb_text_11 et_pb_text_align_left et_pb_bg_layout_light"
													>
														<div
															class="et_pb_text_inner"
														>
															<p>$135</p>
														</div>
													</div>
												</div>
											</div>
											<div class="et_pb_row et_pb_row_3">
												<div
													class="et_pb_column et_pb_column_4_4 et_pb_column_7 et_pb_css_mix_blend_mode_passthrough et-last-child"
												>
													<div
														class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module"
													>
														<a
															class="et_pb_button et_pb_custom_button_icon et_pb_button_0 et_pb_bg_layout_light"
															href="#"
															data-icon="&#x24;"
															>Programs &amp;
															Curriculums</a
														>
													</div>
												</div>
											</div>
										</div>
										<div
											class="et_pb_section et_pb_section_3 et_pb_with_background et_section_regular"
										>
											<div class="et_pb_row et_pb_row_4">
												<div
													class="et_pb_column et_pb_column_4_4 et_pb_column_8 et_pb_css_mix_blend_mode_passthrough et-last-child"
												>
													<div
														class="et_pb_module et_pb_text et_pb_text_12 et_pb_text_align_center et_pb_bg_layout_dark"
													>
														<div
															class="et_pb_text_inner"
														>
															<h2>
																Come Visit Us
															</h2>
														</div>
													</div>
													<div
														class="et_pb_module et_pb_text et_pb_text_13 et_pb_text_align_center et_pb_bg_layout_dark"
													>
														<div
															class="et_pb_text_inner"
														>
															<p>
																Aenean finibus
																fermentum purus
																et tristique.
																Donec at
																molestie tellus.
																Donec dignissim
																eleifend libero
																sed blandit
																massa mattis
																non. In
																tincidunt, ex
																vitae laoreet
																pretium, arcu
																nisi commodo
																velit. Aenean
																finibus
																fermentum purus
																et tristique.
																Donec at
																molestie tellus.
																Donec dignissim
																eleifend libero
																sed blandit
																massa mattis
																non. In
																tincidunt, ex
																vitae laoreet
																pretium
															</p>
														</div>
													</div>
													<div
														class="et_pb_button_module_wrapper et_pb_button_1_wrapper et_pb_button_alignment_center et_pb_module"
													>
														<a
															class="et_pb_button et_pb_custom_button_icon et_pb_button_1 et_pb_bg_layout_light"
															href="#"
															data-icon="&#x24;"
															>Schedule A Tour</a
														>
													</div>
												</div>
											</div>
										</div>
										<div
											class="et_pb_section et_pb_section_4 et_pb_fullwidth_section et_section_regular"
										>
											<div
												class="et_pb_module et_pb_fullwidth_image et_pb_fullwidth_image_0 et_animated et-waypoint"
											>
												<img
													src="../../wp-content/uploads/2018/11/day_care_img_13.jpg"
													alt=""
													title=""
													srcset="
														/wp-content/uploads/2018/11/day_care_img_13.jpg         2383w,
														/wp-content/uploads/2018/11/day_care_img_13-254x75.jpg   254w,
														/wp-content/uploads/2018/11/day_care_img_13-533x157.jpg  533w,
														/wp-content/uploads/2018/11/day_care_img_13-510x150.jpg  510w
													"
													sizes="(max-width: 2383px) 100vw, 2383px"
												/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<footer id="main-footer">
					<div id="footer-bottom">
						<div class="container clearfix">
							<ul class="et-social-icons">
								<li class="et-social-icon et-social-facebook">
									<a href="#" class="icon">
										<span>Facebook</span>
									</a>
								</li>
								<li class="et-social-icon et-social-twitter">
									<a href="#" class="icon">
										<span>Twitter</span>
									</a>
								</li>
								<li
									class="et-social-icon et-social-google-plus"
								>
									<a href="#" class="icon">
										<span>Google</span>
									</a>
								</li>

							</ul>
							Designed and maintained for
								<a href="/" title="Tiddly Tots Play School"
									>Tiddly Tots Play School</a
								>
								by
								<a
									target="_blank"
									rel="noopener"
									href="https://linkedin.com/in/aravindvnair99/"
									>Aravind V Nair</a
								>
						</div>
					</div>
				</footer>
			</div>
		</div>
		<script type="text/javascript">
			var et_animation_data = [
				{
					class: "et_pb_fullwidth_header_0",
					style: "zoom",
					repeat: "once",
					duration: "1000ms",
					delay: "0ms",
					intensity: "5%",
					starting_opacity: "0%",
					speed_curve: "ease-in-out",
				},
				{
					class: "et_pb_fullwidth_image_0",
					style: "slideBottom",
					repeat: "once",
					duration: "1000ms",
					delay: "0ms",
					intensity: "2%",
					starting_opacity: "0%",
					speed_curve: "ease-in-out",
				},
			];
		</script>


		<script type="text/javascript">
			/* <![CDATA[ */
			var DIVI = { item_count: "%d Item", items_count: "%d Items" };
			var et_shortcodes_strings = { previous: "Previous", next: "Next" };
			var et_pb_custom = {
				ajaxurl:
					"https:\/\/tiddlytotsschool.com\/layouts\/wp-admin\/admin-ajax.php",
				images_uri:
					"https:\/\/tiddlytotsschool.com\/layouts\/wp-content\/themes\/Divi\/images",
				builder_images_uri:
					"https:\/\/tiddlytotsschool.com\/layouts\/wp-content\/themes\/Divi\/includes\/builder\/images",
				et_frontend_nonce: "f1910e4a54",
				subscription_failed:
					"Please, check the fields below to make sure you entered the correct information.",
				et_ab_log_nonce: "8a922d58b2",
				fill_message: "Please, fill in the following fields:",
				contact_error_message: "Please, fix the following errors:",
				invalid: "Invalid email",
				captcha: "Captcha",
				prev: "Prev",
				previous: "Previous",
				next: "Next",
				wrong_captcha: "You entered the wrong number in captcha.",
				wrong_checkbox: "Checkbox",
				ignore_waypoints: "no",
				is_divi_theme_used: "1",
				widget_search_selector: ".widget_search",
				ab_tests: [],
				is_ab_testing_active: "",
				page_id: "216354",
				unique_test_id: "",
				ab_bounce_rate: "5",
				is_cache_plugin_active: "no",
				is_shortcode_tracking: "",
				tinymce_uri: "",
			};
			var et_frontend_scripts = {
				builderCssContainerPrefix: "#et-boc",
				builderCssLayoutPrefix: "#et-boc .et-l",
			};
			var et_pb_box_shadow_elements = [];
			var et_pb_motion_elements = { desktop: [], tablet: [], phone: [] };
			/* ]]> */
		</script>
		<script
			type="text/javascript"
			src="../../wp-content/themes/folder/js/custom.unifieda94e.js"
		></script>
		<script
			type="text/javascript"
			src="../../wp-content/themes/folder/core/admin/js/commona94e.js"
		></script>
		<script
			type="text/javascript"
			src="../../wp-includes/js/wp-embed.minc225.js"
		></script>
	</body>
</html>
